#btnProductCartWish{
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 0 0 0 0;
   outline: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    font-weight: 600;
    width: 175px;
}
#btnProductcartRemove{
    
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    outline: none;
   font-weight: 600;
}
#roundedbox{
    margin-left: 2px;
    width: 650px;
}
#btnPlaceOrder{
    width:320px;
    margin-top: 20px;
    border-radius: 0 0 0 0;   
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);;

}
#button-addon22{
    width:25px;
}
#button-addon12{
    width: 25px;;
}

#roundedbox{
    border-radius: 0 0 0 0;
    /* box-shadow: 0 2px 2px 0 rgba(241, 238, 238, 0.945), 0 0 2px 0 rgba(0, 0, 0, 0.2); */

}
#cartIdPriceDetails{
    border-radius: 0 0 0 0;
    /* box-shadow: 0 2px 2px 0 rgba(241, 238, 238, 0.945), 0 0 2px 0 rgba(0, 0, 0, 0.2); */
    float: right;
    margin-left: 15px;
    padding-top: 0px;
}
.ProductDetails{
    width: 850px;
}
/* #countCartSet{
    width: 5px;
} */

