.login_tool_tip_in{
    display: flex;
    align-items: center;
    padding: 0px 7px;
    width: auto;
}
.login_tool_tip_in.profileIcon{
    margin-right: 10px;
}
.login_tool_tip{
    background-color: white;
    width: 260px;
}
.login_tool_tip>hr{
    margin-left: -10px;
    margin-top: 0px;
    width: 108.5%;
    height: 1px;
    background-color: lightgray;
    border: none;
}
