.more{
    background-color: white;
    width: 250px;
}
.more__in{
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
.more__in>hr{
    width: 108.5%;
    height: -10px;
    background-color: lightgray;
    border: none;
}